*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;

}
button{
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 10%;
}
#box2{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: rgb(0, 255, 0);
    border: 2px solid black;

}