*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page{
    height: 100vh;
    width: 100vw;
    background-color: rgb(131, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cover{
    height: 60%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
h1{
    margin-top: 10%;
    padding: 5px 20px;
    color: rgb(59, 95, 5);
}
p{
    margin-top: 5%;
    text-align: center;
  color: rgb(57, 13, 218);
  font-size: 20px;
}
#down{
    height: 12%;
    width: 100%;
    margin-top: 8%;
    display: flex;

}
#path{
    height: 60%;
    width: 75%;
    background-color: rgba(204, 180, 180, 0.445);
    border-radius: 50px;
  margin: 5px 15px;
overflow: hidden;
}
#prog{
    height: 100%;
    width: 0%;
    background-color: blue;
}
h2{
    margin: 5px 0;
}
button{
    padding: 10px 15px;
    margin: 3% 32%;
    border: none;
    background-color: rgb(8, 184, 8);
    font-weight: 900;
    color: aliceblue;
    font-size: 15px;
}

button:active{
    scale: 0.98;
}
